@charset "utf-8";
/* 아티클 컴포넌트 CSS - article.css */


/**************** 제품 설명 아티클 ****************/
/* 겉박스 */
.description{
    padding: 50px 0 50px;
    color: var(--ft-navy-color);
    
    /* outline: 1px dashed hotpink; */
}
.description .wrap:has(.tit){
    padding: 0 20px 0;
    margin-bottom: 20px;

    /* outline: 2px dashed lime; */
}
/* 아티클 타이틀 겉박스 */
.description div:has(>.tit){
    /* background-color: red; */
    overflow: hidden;
}
/* 아티클 타이틀 */
.description .tit{
    font-family: 'Cormorant Garamond', serif;
    font-size: max(35px, 3.5vmax);
    line-height: 1.2;
}
/* 아티클 서브 타이틀 */
.description .subtit{
    padding-top: 15px;
    font-family: 'Asap', sans-serif;
    font-size: 22px;
    font-weight: normal;
    /* line-height: 1.5; */
}
/* 아티클 설명글 */
.description .desc{
    padding: 20px 20px 0;
    margin-bottom: 20px;

    font-family: 'Asap', sans-serif;
    font-size: 18px;
    line-height: 1.7;
}
/* 아티클 이미지 */
.description .wrap:has(.img){
    padding: 20px;
}
.description .img{
    width: 100%;
    object-fit: cover;
}

/**************** 아티클 개별 세팅 ****************/


/* 각 아티클 - 겉박스 세팅 */
.description.recipe,
.description.medal{
    position: relative;
    /* 부모자격 : 가상요소 */

    /* outline: 2px dashed hotpink; */
}

/* 레시피 아티클 - 가상요소(윈도우 가로전체 배경) */
.description.recipe::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    z-index: -2;
    width: 150vw;
    height: 100%;

    background-color: var(--bg-navy-color);
    /* outline: 2px dashed lime; */
}
/* 레시피 아티클 - 글자 */
.description.recipe{
    color: var(--grey-light-color);
}

/* 메달 아티클 - img요소 겉박스 */
.description.medal .wrap:has(>img){
    display: flex;
    align-items: center;
    gap: 10px;
    /* aspect-ratio: 3.5/1.25; */
    justify-content: center;
}
/* 메달 아티클 - img요소 */
.description.medal img{
    width: 30%;
    height: 100%;
}
/* 메달 아티클 - 가상요소(윈도우 가로전체 배경) */
.description.medal::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);

    z-index: -2;
    width: 150vw;
    height: 100%;

    background-color: var(--ft-lemon-color);
    /* outline: 2px dashed lime; */
}




/*************************************************************************************
    🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥미디어 쿼리🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
*************************************************************************************/

/* 1300px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 1300px) {

} /* 1300px 사이즈 이하 미디어쿼리 끝 */



/* 500px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 500px) {
    /* 레시피 아티클의 배경색 - 가상요소 */
    .description.recipe::after{
        transform: translateX(0);
        width: 100%;
    }
    /* 메달 아티클의 배경색 - 가상요소 */
    .description.medal::after{
        transform: translateX(0);
        width: 100%;
    }
    .description.medal .wrap:has(>img){
        box-sizing: border-box;
    }
} /* 500px 사이즈 이하 미디어쿼리 끝 */