@charset "utf-8";
/* 각 제품 소개 모듈 CSS - details.css */


/* 제일 겉 박스 */
.details_container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    overflow-y: auto;

    /* 처음에 숨겨두기 */
    clip-path: circle(0% at 50% 50%);

    transition: clip-path 1s cubic-bezier(0.83, 0, 0.21, 1.33);

}


#details{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background-color: var(--btn-lemon-color);
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 100px;
}


/* 닫기 버튼 겉박스 */
.details .cls_btn_container{
    max-width: 1400px;
    height: 80px;
    margin: 20px auto 0;
    padding: 0 30px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    /* border: 1px solid #000; */
}
/* 닫기 버튼의 타이틀 */
.details .cls_btn_container .cls_tit{
    font-size: 20px;
}

/* 닫기 버튼 */
.details .cls_btn_container .close{
    display: block;
    padding: 10px;

    cursor: pointer;

    /* border: 1px solid red; */
}


/* 제품명 박스 세팅 */
.details .product_name_container{
    padding: 100px 20px 0;
    margin-bottom: 50px;
}
/* 제품명 폰트관련 세팅 */
.details .product_name_container .name{
    font-family: 'Cormorant Garamond', serif;
    font-size: 7vmax;
    color: var(--ft-navy-color);
}
/* 제품명(단어) 위치 세팅 */
.details .product_name_container .name>span{
    display: flex;
    gap: 20px;
}
/* 제품명(뒤에 오는 단어) 개별 세팅 */
.details .product_name_container .name .letter:nth-child(2){
    font-style: italic;
    color: var(--ft-lemon-color);
}
.details .product_name_container .name .letter.rouge:nth-child(2){
    color: var(--ft-rose-color);
}

/* 그리드 박스 세팅 */
.details .gridBx{
    max-width: 1400px;
    display: grid;
    /* 가로 그리드 템플릿 */
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;

    padding: 20px 20px 0;
    margin-bottom: 50px;

    /* outline: 1px dashed black; */
}
.details .product_img_container{
    grid-column: 1/7;
}
.details .product_desc_container{
    grid-column: 7/13;
}



/* 제품 유리병 img 요소 세팅 */
.details .product_img_container img#product{
    width: 100%;
    margin-top: 30vh;

    /* outline: 1px dashed red; */
}




/*************************************************************************************
    🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥미디어 쿼리🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
*************************************************************************************/

/* 1300px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 1300px) {

} /* 1300px 사이즈 이하 미디어쿼리 끝 */



/* 500px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 500px) {
    .details .product_name_container .name>span{
        gap: 0;
    }
    .details .gridBx{
        padding: 20px 0 0;
    }
    .details .product_img_container{
        grid-column: 1/13;
        order: 1;
        padding-bottom: 70px;
    }
    .details .product_desc_container{
        grid-column: 1/13;
        order: 2;
    }
    .details .product_img_container .wrap:has(img#product){
        text-align: center;
    }
    .details .product_img_container img#product{
        margin-top: 0;
        width: 45%;
    }
} /* 500px 사이즈 이하 미디어쿼리 끝 */