@charset "utf-8";

/* 상단 영역 CSS - header.css */


/* 공사중 */
body *{
    /* outline: 1px solid gray; */
}


/************************ 헤더 영역 ************************/


header.top{
    position: fixed;
    width: 100%;
    height: 80px;
    top: 20px;
    z-index: 2;
}
/* 상단영역 플렉스 박스 */
.flx_container{
    max-width: 1400px;
    height: 80px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: 1px solid #000; */
}


/* 상단 로고 이미지 요소 */
.tlogo img{
    width: 150px;
}

/* 햄버거 아이콘 (구글심볼) 세팅 */
.ham_icon{
    color: var(--ft-navy-color);
    font-weight: 700;
}
/* 버튼 배경 박스 세팅 */
.button {
    padding: 10px 10px;
    display: block;
    background-color: var(--ft-lemon-color);
    border-radius: 50%;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    transition: all 0.1s ease-out;
}
.button:active{
    transform: scale(0.9);
}

/************************ 메뉴 박스 디자인 세팅 ************************/

/* 내비 겉박스 */
#nav{
    width: 100%;
    height: 100%;

    position: fixed;
    /* position: relative; */
    z-index: 3;

    background-color: var(--bg-navy-color);
    
    /* 클립패스로 보였다 안보였다 조절하기 맨앞의 퍼센티지가 원형 크기 조절하는 것이고 뒤의 2개가 x,y값 조절임 */
    clip-path: circle(0% at 86.2% 60px);
    /* display: none; */
    /* clip-path: none; */
    
    /* border: 2px dashed blueviolet; */
}

/* 내비게이션 박스 애니메이션 키프레임 */
@keyframes navOpenAni {
    0%{
        clip-path: circle(0% at 86.2% 60px);
    }
    100%{
        clip-path: circle(150% at 86.2% 60px);
    }
}
@keyframes navCloseAni {
    0%{
        clip-path: circle(150% at 86.2% 60px);
    }
    100%{
        clip-path: circle(0% at 86.2% 60px);
    }
}

/* 내비에 클래스 "on"이 부여되면 가상요소로 덮기! */
.nav.on::after{
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;

}

/* 메뉴 겉박스 */
#nav>.wrap{
    position: relative;
    max-width: 1400px;
    margin: 20px auto 0;

    /* outline: 2px dashed blue; */
}

/* 메뉴 박스 */
.nav{
    /* position: fixed;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1400px; */

    /* outline: 1px dashed red; */
}

/* 메뉴 a요소 공통 세팅 */
.nav a{
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: bold;
    color: #faf8f5;
    letter-spacing: 2px;
}
/* 닫기 버튼 */
.nav>.wrap:has(.close){
    height: 80px;
    padding-right: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    /* outline: 2px solid red; */
}
.nav .close{
    display: block;
    /* padding: 12px 30px; */

    font-size: 24px;
    color: #faf8f5;

    cursor: pointer;
}
.nav>ul{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 20px;
}

