@charset "utf-8";

/* 법적 나이 확인 팝업창 모듈 컴포넌트 CSS - legalAgeVerification.css */

.modal_container{

    /* border: 2px dashed red; */
}

/* 모달창 박스 */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* height: 100%; */
    /* width: 100%; */
    
    background-color: #faf8f5cb;
    /* 포커스됐을 때 테두리 없애기 */
    outline: none;
}
/* 모달창 오버레이(박스 바깥쪽) */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    /* width: 100%; */
    /* height: 100%; */

    background: url(../../../public/images/age_bg.png) no-repeat center/cover;
}

.ReactModal__Overlay {
    opacity: 0;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
    transition: opacity .5s ease-in-out;
}


/* 로고 이미지 */
.modal .logo_bx{
    margin-top: 5vh;
    padding: 50px 20px 0;
}
/* 타이틀 */
.modal .title{
    text-align: center;
    padding: 30px 20px 0;
    margin-bottom: 30px;

    font-family: 'Cormorant Garamond', serif;
    font-size: 6vmax;
}

/* 타이틀의 단락 공통 세팅 */
.modal .txt{
    overflow: hidden;
}
.modal .txt>span{
    display: block;
}

/* 타이틀의 각 단락별 개별 세팅 */
.modal .title .txt:nth-child(1){
    color: var(--ft-navy-color);
}
.modal .title .txt:nth-child(2){
    font-style: italic;
    color: var(--ft-lemon-color);
}

/* 나이 질문 겉박스 */
.modal .verification_bx{
    padding: 20px 20px 0;
    margin-bottom: 30px;
}
/* 나이 질문 박스 */
.modal .query_desc{
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-size: 26px;
    color: var(--ft-navy-color);

    overflow: hidden;
}

/* y/n 박스 */
.modal .YoN_bx{
    padding: 20px 20px 0;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    gap: 100px;

    font-family: 'Cormorant Garamond', serif;
    font-size: 4vmax;
    color: var(--ft-navy-color);
}
/* y/n박스의 h3요소 공통 세팅 */
.modal .YoN_bx h3{
    cursor: pointer;
}

/* no 선택시 보이는 메시지 박스 */
.modal .no_pick_bx{
    text-align: center;
    margin: 0 auto 50px;

    /* 처음에는 안보이게 하기 */
    display: none;
}
/* 메시지 세팅 */
.modal .no_pick_bx .msg{
    font-family: 'Asap', sans-serif;
    font-size: 16px;
    color: #cc0000;
}

/* 7일간 보이지 않기 체크박스 */
.modal .cookieChk_bx{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-family: 'Asap', sans-serif;
    font-size: 16px;
    color: var(--ft-navy-color);


    /* 드래그 막기 */
    -webkit-user-select: none;
    user-select: none;
}
/* 설명 라벨 */