@charset "utf-8";
/* 페이지 소개 모듈 CSS - pageIntro.css */


/* 페이지 소개 겉박스 */
.pg_intro{
    /* position: relative; */
    width: 100%;

    display: flex;
    flex-direction: column;
}

.pg_intro .wrap:has(.pg_title){
    padding-top: 100px;
}
/* 타이틀 겉박스 */
.pg_intro .pg_title{
    position: relative;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate(-50%, 10%);
}
/* 타이틀 */
.pg_intro .tit{
    display: flex;
    flex-direction: column;
    align-items: center;
        
    font-family: 'Cormorant Garamond', serif;
    font-size: 7vmax;
    font-weight: bold;
    color: var(--ft-navy-color);
}
/* 타이틀 각 단락 겉박스 */
.pg_intro .tit>span{
    display: block;
    /* 넘치는 자식 요소 숨기기 */
    overflow: hidden;

    /* outline: 2px dashed red; */
}
/* 각 단락 요소 */
.pg_intro .txt{
    display: block;
    text-align: center;
}


/* 이미지 겉박스 */
.pg_intro .pg_img{
    position: relative;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}
/* 이미지 */
.pg_intro .pg_img>img{
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%, 0%);
}


/*************************************************************************************
    🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥미디어 쿼리🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
*************************************************************************************/

/* 500px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 500px) {

}
/* 500px 사이즈 이하 미디어쿼리 끝 */