@charset "utf-8";
/* 각 제품 소개 모듈 CSS - productIntro.css */
/* 제일 겉 박스 */
.product_intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 100px;
}

/* 배경 이미지 */
.product_intro>.wrap:has(.bg){
    position: absolute;
    top: 20%;
    right: 0;
    z-index: -1;
}

/* 제품명 박스 세팅 */
.product_name_container{
    padding: 100px 20px 0;
    margin-bottom: 50px;
}
/* 제품명 폰트관련 세팅 */
.product_name_container .name{
    font-family: 'Cormorant Garamond', serif;
    font-size: 7vmax;
    color: var(--ft-navy-color);
}
/* 제품명(단어) 위치 세팅 */
.product_name_container .name>span{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
/* 제품명(뒤에 오는 단어) 개별 세팅 */
.product_name_container .name .letter:nth-child(2){
    font-style: italic;
    color: var(--ft-lemon-color);
}
.product_name_container .name .letter.rouge:nth-child(2){
    color: var(--ft-rose-color);
}

/* 그리드 박스 세팅 */
.gridBx{
    max-width: 1400px;
    display: grid;
    /* 가로 그리드 템플릿 */
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;

    padding: 20px 20px 0;
    margin-bottom: 50px;

    /* outline: 1px dashed green; */
}
.product_img_container{
    grid-column: 2/7;
}
.product_desc_container{
    grid-column: 7/12;
}


/* 제품 이미지 겉박스 설정 */
.product_img_container .wrap:has(img.product){
    position: relative;

    user-select: none;
    /* 선택 안 되게 막기 */
    -webkit-user-drag: none;
    /* 드래그안되게함 */

    /* outline: 2px dashed black; */
}

/* 제품 유리병 img 요소 세팅 - 모바일 (고정된 병) */
.product_img_container img#product{
    width: 100%;
    margin-top: 45vh;

    /* outline: 1px dashed red; */
}
/* 제품 유리병 img요소 세팅 - 그외 (돌아가는 병) */
.product_img_container img.product{
    position: relative;
    width: 100%;
    margin-top: 45vh;

    /* outline: 1px dashed red; */
}


/**************** 제품 설명 아티클 ****************/
/* 제품 주변 꾸밈 이미지 세팅 */
.product_img_container .wrap:has(.sticker){
    position: absolute;
    z-index: -1;

    /* outline: 1px dashed blue; */
}
/* 꾸밈 이미지 공통 세팅 */
.product_img_container img.sticker{
    width: 100%;
}
/* 1.레몬 관련 세팅 */
.wrap:has(.citrus){
    width: 400px;
    height: 400px;

    top: 35%;
    left: 15%;
}
.wrap:has(.lemon){
/* .wrap:has(.deco-1){ */
    width: 400px;
    height: 400px;

    top: 35%;
    left: 15%;
}
/* 2.이파리 관련 세팅 */
.wrap:has(.leaf-3){
/* .wrap:has(.deco-2){ */
    width: 450px;
    height: 450px;

    top: 90%;
    left: 35%;
}
.wrap:has(.leaf-1){
    width: 450px;
    height: 450px;

    top: 90%;
    left: 35%;
}
/* 3.베리 관련 세팅 */
.wrap:has(.berry){
/* .wrap:has(.deco-3){ */
    width: 300px;
    height: 300px;

    top: 150%;
    left: 10%;
}
.wrap:has(.berries){
    width: 300px;
    height: 300px;

    top: 150%;
    left: 10%;
}
/* 4.맨 위에 있는 라즈베리 관련 세팅 */
.wrap:has(.raspberry3){
    width: 400px;
    height: 400px;

    top: 55%;
    left: 10%;
}
/* 5.중간에 있는 블랙베리 관련 세팅 */
.wrap:has(.blackberry2){
    width: 300px;
    height: 300px;

    top: 100%;
    left: 40%;
    transform: rotateY(180deg) rotate(19deg);
}
/* 6.아래쪽에 있는 작은 라즈베리 관련 세팅 */
.wrap:has(.raspberry1){
    width: 200px;
    height: 200px;

    top: 180%;
    left: 13%;
}
/* 7.아래쪽에 있는 블랙베리 관련 세팅 */
.wrap:has(.blackberry1){
    width: 560px;
    top: 220%;
    left: 20%;
    transform: rotateY(180deg) rotate(78deg);
}
/* 8.오이 관련 세팅 */
.wrap:has(.cucumber4){
    top: 60%;
    left: 36%;
    transform: rotate(45deg);
}
.wrap:has(.cucumber-flower){
    top: 87%;
    left: 14%;
}
.wrap:has(.cucumber6){
    top: 125%;
    left: 40%;
    transform: rotate(62deg);
}
.wrap:has(.cucumber-leaf){
    width: 200px;
    height: 200px;
    top: 170%;
    left: 12%;
    transform: rotateX(180deg) rotate(17deg);
}
.wrap:has(.cucumber5){
    top: 250%;
    left: 9%;
    transform: rotate(45deg);
}





/*************************************************************************************
    🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥미디어 쿼리🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
*************************************************************************************/

/* 1300px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 1300px) {

} /* 1300px 사이즈 이하 미디어쿼리 끝 */



/* 500px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 500px) {
    .product_name_container .name>span{
        gap: 0;
    }
    .gridBx{
        padding: 20px 0 0;
    }
    .product_img_container{
        grid-column: 1/13;
        order: 1;
        padding-bottom: 70px;
    }
    .product_desc_container{
        grid-column: 1/13;
        order: 2;
    }
    .product_img_container .wrap:has(img#product){
        text-align: center;
        position: relative;
    }
    .product_img_container img#product{
        /* position: absolute; */
        margin-top: 0;
        width: 80%;
    }
    /* 제품 유리병 img요소 세팅 - 돌아가는 병 */
    .product_img_container img.product{
        width: 80%;
        margin-top: 0;
    }

    /* 데코 이미지 세팅 */
    /* original 제품 */
    .wrap:has(.citrus){
        width: 250px;
        height: 250px;
        top: 32%;
        left: -5%;
    }
    .wrap:has(.leaf-3){
        width: auto;
        height: auto;
    }
    .wrap:has(.berry){
        width: 300px;
        height: 300px;
        top: 108%;
        left: -10%;
    }
    /* dete 제품 */
    .wrap:has(.lemon){
        width: auto;
        height: auto;
        top: 32%;
        left: -5%;
    }
    .product_img_container .wrap:has(.leaf-1){
        width: auto;
        height: auto;
        top: 107%;
        z-index: 1;
    }
    .wrap:has(.berries){
        top: 144%;
        left: -23%;
    }
    /* rouge 제품 */
    .wrap:has(.raspberry3) {
        width: 250px;
        height: 250px;
        top: 30%;
        left: 0%;
    }
    .wrap:has(.blackberry2) {
        width: auto;
        height: auto;
        top: 101%;
        left: 40%;
        transform: rotateY(180deg) rotate(0deg);
    }
    .wrap:has(.raspberry1){
        width: auto;
        height: auto;
        top: 175%;
    }
    .wrap:has(.blackberry1) {
        width: 300px;
        height: 340px;
        transform: translate(0%) rotateY(0deg) rotate(0deg);
    }
    .product_img_container .blackberry1{
        width: 100%;
        position: absolute;
        top: 20%;
        left: -7%;
        z-index: -1;
        transform: translate(18%) rotateY(180deg) rotate(78deg);
    }
    /* limited 제품 */
    .wrap:has(.cucumber-flower) {
        top: 71%;
        left: -6%;
    }
    .wrap:has(.cucumber4) {
        top: 28%;
        left: 34%;
        transform: rotate(45deg);
    }
    .wrap:has(.cucumber6) {
        top: 110%;
        left: 36%;
        transform: rotate(0deg);
    }
} /* 500px 사이즈 이하 미디어쿼리 끝 */

/* 300px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 300px) {
    .wrap:has(.blackberry1) {
        width: 210px;
        height: 340px;
        transform: translate(0%) rotateY(0deg) rotate(0deg);
    }
    .product_img_container .blackberry1{
        width: 100%;
        position: absolute;
        top: 7%;
        left: -2%;
        z-index: -1;
        transform: translate(18%) rotateY(180deg) rotate(78deg);
    }
} /* 300px 사이즈 이하 미디어쿼리 끝 */

