@charset "utf-8";

/* 각섹션 소개 모듈 CSS - sectionIntro.css */


/* 제일 겉 박스 */
#section_intro{
    position: relative;
}

.section_intro *{
    /* outline: 1px dashed black; */
}

/* 3번째 섹션 겉박스 개별 디자인 세팅 */
#section_intro.sec3{
    background-color: var(--bg-navy-color);
    padding: 100px 0;
}

/********************* 1.각 섹션의 타이틀 *********************/
.section_intro{
    max-width: 1400px;
    margin: 50px auto 150px;
}

/* 겉박스 세팅 */
.sec_tit_container>.wrap{
    /* height: 100vh; */
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* 배경이미지 */
.section_intro .bgimg-right{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
/* 배경이미지 */
.section_intro .bgimg-left{
    position: absolute;
    top: 10%;
    left: 0;
    z-index: -1;
}




/******************** 2.섹션 아티클 제목 ********************/
/* 제목(h3) 요소 공통 세팅 */
.section_intro .title{
    padding: 0 20px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 6vmax;
    color: var(--ft-navy-color);

    /* border: 2px dashed #000; */
}

/* 단락 겉박스 */
.section_intro .title>span{
    display: inline-block;
    display: flex;
    flex-direction: column;
    
    /* 자식요소 숨기기 */
    overflow: hidden;
    
    /* border: 2px dashed red; */
}
/* 속박스 */
.section_intro .letter{
    display: block;
    /* border: 2px dashed blue; */
}


/* 2번째 섹션 제목 개별 세팅 */
.section_intro .title.sec2{
    text-align: center;
}
/* 3번째 섹션 제목 개별 세팅 */
.section_intro .title.sec3{
    color: var(--grey-light-color);
}


/*********************** 3.섹션 아티클 설명 ***********************/
/* 아티클 설명 겉박스 */
.section_intro .desc_bx{
    max-width: 700px;

    /* outline: 2px dashed brown; */
}
/* 모든 단락 공통 세팅 */
.section_intro .desc{
    padding: 0 20px;

    font-family: 'Asap', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: var(--ft-navy-color);
}

/* 1번째 단락 개별 세팅 */
.section_intro .desc:nth-child(1){
    margin: 50px 0 20px;

    font-size: 20px;
}
/* 2번째 단락 개별 세팅 */
.section_intro .desc_bx:has(.sec2){
    display: block;
    margin: 70px auto;
}
/* 3번째 섹션 단락 개별 세팅 */
.section_intro .desc.sec3{
    color: var(--grey-light-color);
}

/************************ 4.섹션 아티클 이미지 ************************/
/* 이미지 겉박스 */
.section_intro .img_bx{
    margin: 20px;
    overflow: hidden;

    /* border: 2px solid #000; */
}

/* 3번째 섹션의 이미지 겉박스 개별 세팅 */
.section_intro .img_bx.sec3{
    position: relative;
    left: 20%;
    width: 63%;
    margin-top: 50px;
    z-index: 1;
}

/* 이미지 요소 */
.section_intro .img_bx>img{
    /* 부모 요소 가로값에 맞춰 세팅 */
    width: 100%;
    object-fit: cover;
}

/* 2번째 섹션의 이미지 개별 세팅 */
.section_intro .img_bx:has(.sec2){
    overflow: visible;
    width: 130%;

}

/* 4-1. 각 섹션별 꾸밈 이미지 */
/* 등대 일러스트 */
.section_intro .pharer{
    position: absolute;
    top: 5%;
    right: 0;
    width: 410px;
}
/* 굴 요리 일러스트 */
.section_intro .huitres{
    position: relative;
    left: 85%;
    width: 35%;
}
/* 와인잔 일러스트 */
.section_intro .verres{
    position: absolute;
    bottom: -15%;
    left: -220px;
    z-index: 1;
}
/* 각 섹션별 추가 이미지 */
/* 3번째 섹션 */
.section_intro .wrap:has(.addImg){
    width: 300px;
    height: 420px;
    position: absolute;
    top: 12%;
    right: 15%;
    z-index: 0;

    overflow: hidden;
    /* border: 1px solid red; */
}
.section_intro .addImg{
    width: 100%;
    height: 100%;
    object-fit: cover
}
/************************** AOS 커스텀 애니메이션 **************************/

[data-aos="imgAni"] {
    transform: scale(1.2);
    transition-property: transform;

    &.aos-animate {
        transform: scale(1);
    }
}

/*************************************************************************************
    🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥미디어 쿼리🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥🔥
*************************************************************************************/

/* 500px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 500px) {
    /* 첫번째 섹션 배경이미지 */
    .section_intro .bgimg-right{
        width: 30vw;
        top: -5%;
    }
    /* 두번째 섹션 배경이미지 */
    .section_intro .bgimg-left{
        width: 30vw;

    }
    /* 두번째 섹션 - 등대 일러스트 */
    .section_intro .pharer{
        width: 200px;
        top: 26%;
        z-index: -1;
    }
    /* 두번쨰 섹션 - 이미지 */
    .section_intro .img_bx:has(.sec2){
        width: auto;
    }
    /* 두번째 섹션 - 와인잔 */
    .section_intro .verres{
        width: 75%;
        left: -25%;
        bottom: -20%;
    }
    /* 세번째 섹션 - 이미지 (단체 사진) */
    .section_intro .img_bx.sec3{
        width: 90%;
        left: 0;
    }
    /* 세번째 섹션 - 추가 이미지 (남자 개인컷) */
    .section_intro .addImg{
        display: none;
    }
    /* 세번째 섹션 - 굴 요리 */
    .section_intro .huitres{
        left: 49%;
        width: 45%;
    }
}
/* 500px 사이즈 이하 미디어쿼리 끝 */