@charset "utf-8";

@import url(../css/reset.css);

html,body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header.top{
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
}

/* 공사중 */
body *{
    outline: 1px solid gray;
}

/* 햄버거 버튼 내부의 모든 요소 세팅 */
.ham_btn * {
    box-sizing: border-box;
}
/* 햄버거 버튼 겉박스 */
.ham_btn {
    display: flex;
    height: 80px;
    width: 80px;
}

/* 버튼 공통 세팅 */
.button {
    padding: 10px 15px;
    background-color: #ffd732;
    /* border: none; */
    display: inline-block;
    border-radius: 50%;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: #fff;
    font-size: 18px;
    
    transition: all 0.1s ease-out;
}

.button:hover {
    background-color: #ffd732;
    color: #fff;
}
.button:active {
    transform: scale(0.95);
}

/* 물방울 버튼 공통 세팅 */
.button--bubble {
    position: relative;
    z-index: 2;
    color: white;
    background: none;
}
.button--bubble:hover {
    background: none;
}

/* 마우스 호버시 */
.button--bubble:hover + .button--bubble__effect-container .circle {
    background: #ffd732;
    /* color: #fef84c; */
}
.button--bubble:hover + .button--bubble__effect-container .button {
    background: #ffd732;
}
.button--bubble:active + .button--bubble__effect-container {
    transform: scale(0.95);
}

/* 물방울이 떨어져 나오는 메뉴 겉박스 */
.button--bubble__container {
    position: relative;
    display: inline-block;
    /* top: 50%;
    left: 50%; */
    /* margin-top: -25px; */
}

/* 이펙트 겉박스 */
.button--bubble__effect-container {
    position: absolute;
    display: block;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    filter: url("#goo");
    transition: all 0.1s ease-out;
    pointer-events: none;
}

/* 이펙트 겉박스 속 이펙트 버튼 */
.button--bubble__container .effect-button {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 25%;
    z-index: 1;
    transform: translateY(-50%);
    background: #ffd732;
    transition: "background" 0.1s ease-out;
}

/* 이펙트 겉박스 속 작은 원형 (물방울) 공통 세팅 */
.button--bubble__effect-container .circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffd732;
    transition: "background" 0.1s ease-out;
}

/* 이펙트 겉박스 속 작은 원형 (물방울) 중 위/왼쪽 방향 */
.button--bubble__effect-container .circle.top-left {
    top: 30%;
    left: 27%;
}

/* 이펙트 겉박스 속 작은 원형 (물방울) 중 아래/오른쪽 방향 */
.button--bubble__effect-container .circle.bottom-right {
    bottom: 30%;
    right: 27%;
}

/* 찐득한 물방울 SVG 요소 */
.goo {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
}

/* 노란색 원형 메뉴와 전체 메뉴박스를 감싸는 겉박스 */
.menu_wrap{
    position: relative;
    /* 부모자격 - .nav_box */
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #282864;
    
    margin: 0 auto;

    /* 버튼 클릭시 애니메이션 */
    animation: menuAni 1s cubic-bezier(0.61, 0.36, 0.38, 1.24) forwards;
}


@keyframes menuAni {
    0%{
        transform: 
        /* translate(-50%, -50%), */
        scale(0);
    }
    100%{
        transform: 
            /* translate(-50%, -50%), */
            scale(500);
    }
}


