@charset "utf-8";

@import url(../css/reset.css);

html,body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 공사중 */
body *{
    /* outline: 1px solid gray; */
}


/************************ 헤더 영역 ************************/


header.top{
    position: fixed;
    width: 100%;
    height: 80px;
}
.flx_container{
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
}

/* 상단로고 겉박스 */
.tlogo{
    margin-right: 20px;
}

/* 햄버거 버튼 겉박스 */
.ham_btn {
    display: flex;
    margin-right: 20px;
}
/* 햄버거 버튼 내부의 모든 요소 세팅 */
.ham_btn * {
    box-sizing: border-box;
    display: block;
}

/* 버튼 공통 세팅 */
.button {
    padding: 10px 10px;
    background-color: #ffd732;
    /* border: none; */
    display: inline-block;
    border-radius: 50%;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: #fff;
    font-size: 18px;
    
    transition: all 0.1s ease-out;
}

.button:hover {
    background-color: #ffd732;
    color: #fff;
}
.button:active {
    transform: scale(0.95);
}

/* 물방울 버튼 공통 세팅 */
.button--bubble {
    position: relative;
    z-index: 2;
    color: white;
    background: none;
}
.button--bubble:hover {
    background: none;
}

/* 마우스 호버시 */
.button--bubble:hover + .button--bubble__effect-container .circle {
    background: #ffd732;
    /* color: #fef84c; */
}
.button--bubble:hover + .button--bubble__effect-container .button {
    background: #ffd732;
}
.button--bubble:active + .button--bubble__effect-container {
    transform: scale(0.95);
}

/* 물방울이 떨어져 나오는 메뉴 겉박스 */
.button--bubble__container {
    position: relative;
    display: inline-block;
    /* top: 50%;
    left: 50%; */
    /* margin-top: -25px; */
}

/* 이펙트 겉박스 */
.button--bubble__effect-container {
    position: absolute;
    display: block;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    filter: url("#goo");
    transition: all 0.1s ease-out;
    pointer-events: none;
}

/* 이펙트 겉박스 속 이펙트 버튼 */
.button--bubble__container .effect-button {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 25%;
    z-index: 1;
    transform: translateY(-50%);
    background: #ffd732;
    transition: "background" 0.1s ease-out;
}

/* 이펙트 겉박스 속 작은 원형 (물방울) 공통 세팅 */
.button--bubble__effect-container .circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffd732;
    transition: "background" 0.1s ease-out;
}

/* 이펙트 겉박스 속 작은 원형 (물방울) 중 위/왼쪽 방향 */
.button--bubble__effect-container .circle.top-left {
    top: 30%;
    left: 27%;
}

/* 이펙트 겉박스 속 작은 원형 (물방울) 중 아래/오른쪽 방향 */
.button--bubble__effect-container .circle.bottom-right {
    bottom: 30%;
    right: 27%;
}

/* 찐득한 물방울 SVG 요소 */
.goo {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
}

/* 노란색 원형 메뉴와 전체 메뉴박스를 감싸는 겉박스 */
.menu_wrap{
    position: relative;
    /* 부모자격 - .nav_box */
    display: flex;
    align-items: center;
    justify-content: center;
}


/************************ 메뉴 박스 디자인 세팅 ************************/

/* 내비 겉박스 */
#nav{
    width: 100%;
    height: 100%;

    position: fixed;
    z-index: 1;

    background-color: #282864;
    
    /* clip-path: circle(30% at 50% 50%); */
    /* 클립패스로 보였다 안보였다 조절하기 맨앞의 퍼센티지가 원형 크기 조절하는 것이고 뒤의 2개가 x,y값 조절임 */
    /* clip-path: circle(0% at 97% 4%); */

    opacity: 1;
    /* display: none; */
}

/* 메뉴 겉박스 */
#nav>.wrap{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    outline: 2px dashed blue;
}

/* 메뉴 박스 */
.nav{
    position: fixed;
    width: 100%;

    outline: 1px dashed red;
}

/* 메뉴 a요소 공통 세팅 */
.nav a{
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: bold;
    color: #faf8f5;
    letter-spacing: 2px;
}
/* 닫기 버튼 */
.nav>.wrap:has(.close){
    height: 80px;
    padding-right: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    outline: 2px solid red;
}
.nav .close{
    display: block;
    /* padding: 12px 30px; */

    font-size: 24px;
    color: #faf8f5;

    cursor: pointer;
}
.nav>ul{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 20px;
}

