@charset "utf-8";

@import url(./reset.css);


/* 페이지 소개 겉박스 */
.pg_intro{
    /* position: relative; */
    width: 100%;
    height: 100%;
}
/* 타이틀 겉박스 */
.pg_title{
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 타이틀 */
.tit{
    font-family: 'Asap', sans-serif;
    font-size: 34px;
}

.pg_img{
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 40%);
}

/* 이미지 */
.pg_img>img{
    width: 100%;
}