@charset "utf-8";
/* 서브페이지 : 지구 CSS - sub_earth.css */

/* 공통 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 초기화 */
body {
    width: 100%;
    height: 100vh;
}
/* 제목 폰트 */
h1, h2, h3{
    font-family: 'Kanit', sans-serif;
}
/* 타이틀 */
.artit{
    font-size: 4rem;
    color: #3a3a3a;
}
/* 본문 */
.contTxt{
    width: 30vw;

    font-size: 1.7rem;
    color: #222;
    text-align: justify;
    word-break: break-word;
    line-height: 1.7;
}


/****************************************** 2.메인영역 ******************************************/

/* 2-1. 1페이지 */
/* 타이틀 */
.pg1 .tit {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 10%;
    font-size: 18rem;
    letter-spacing: 0.8rem;
    color: rgb(67, 170, 237);
}

/* 부제 */
.pg1 .stit {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 10%;

    color: #fff;
    font-size: 5rem;
    letter-spacing: 0.5rem;
}

/* 전문 */
.pg1 .contTxt {
    position: absolute;
    z-index: 1;
    top: 55%;
    left: 10%;
    width: 30vw;

    color: #fff;
    font-size: 1.7rem;
    text-align: justify;
    word-break: break-word;
    line-height: 1.7;
}

/* 지구 동영상 속박스 */
.pg1 .screen {
    width: 100%;
    height: 100vh;
    background-color: #000;
}

/* 지구 동영상 아이프레임 */
.pg1 #earthVid{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: brightness(65%); */
}


/* 2-2. 2페이지 */
.pg2{
    padding-top: 10vw;
    padding-bottom: 10vw;
}
/* 이름 기원 겉박스 */
.pg2 .namesake{
    margin-bottom: 3vw;
}
/* 이름 기원 타이틀 */
.namesake .artit{
    font-size: 4rem;
    color: #3a3a3a;
}
/* 이름 기원 본문 */
.namesake .contTxt{
    margin-top: 1vw;
    width: 30vw;

    font-size: 1.7rem;
    color: #222;
    text-align: justify;
    word-break: break-word;
    line-height: 1.7;
}

/* 크기와 거리 겉박스 */
.pg2 .SizeAndDistance{
    position: relative;
    /* 부모자격 - .artit, .conTxt */
}
/* 지구 3D 모델 속박스 */
.pg2 .inWrap {
    width: 50%;
    height: 50vh;
}
/* 지구 3D 모델 아이프레임 */
.pg2 iframe {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    /* 아주 약간 아래쪽에 사이 간격 발생하는 것 때문에 부여함 */
}
/* 크기와 거리 타이틀 */
.SizeAndDistance .artit{
    position: absolute;
    /* 부모는? - .SizeAndDistance */
    top: 38%;
    left: 55%;
    font-size: 4rem;
    color: #3a3a3a;
}
/* 크기와 거리 본문 */
.SizeAndDistance .contTxt{
    position: absolute;
    /* 부모는? - .SizeAndDistance */
    top: 54%;
    left: 55%;

    width: 30vw;

    font-size: 1.7rem;
    color: #222;
    text-align: justify;
    word-break: break-word;
    line-height: 1.7;

    /* outline: 2px dashed red; */
}


/* 3페이지 */
/* 🚀형성 박스 */
.pg3{
    height: 35vh;
    padding-top: 10vw;
    padding-bottom: 10vw;
    background: url(../../00.자료수집/sub_img/earth02.jpg) no-repeat center/cover;
    background-attachment: fixed;
}
/* 형성 타이틀 */
.formation .artit{
    color: #fff;
    margin-bottom: 1vw;
}
/* 형성 본문 */
.formation .contTxt{
    color: #c2c2c1;
    text-shadow: 1px 1px #000;
}


/* 4페이지 */
/* 🚀궤도 및 회전 */
.pg4{
    padding-top: 20vw;
    padding-bottom: 20vw;
}
.orbitAndRotation{
    position: relative;
    /* 부모자격 - .figimg */
    padding-top: 5vw;
    padding-bottom: 5vw;
    border-top: 1px solid #3a3a3a;
    border-bottom: 1px solid #3a3a3a;
}
/* 타이틀 */
.pg4 .artit{
    position: relative;
    z-index: 1;
    margin-bottom: 1vw;
    font-size: 9.5rem;
}
/* 본문 내용 공통 디자인 */
.pg4 .contTxt{
    position: relative;
    margin: 2vw 0;
    width: 70%;
    font-size: 3rem;
    letter-spacing: .1rem;
}
/* 본문 첫번째 단 개별 디자인*/
.pg4 .pgh1{
    z-index: 1;
}
/* 본문 두번째 단 개별 디자인 */
.pg4 .pgh2{
    left: 30%;
}
/* 첫번째 이미지 겉박스 */
.pg4 .figimg1{
    position: absolute;
    top: -20%;
    left: 55%;
}
/* 첫번째 이미지 */
.pg4 .figimg1 img{
    width: 35vw;
}
/* 두번째 이미지 겉박스 */
.pg4 .figimg2{
    position: absolute;
    z-index: -1;
    top: 80%;
    left: 5%;
}
/* 두번째 이미지 */
.pg4 .figimg2 img{
    width: 25vw;
}


/* 5페이지 */
/* 🚀삶의 잠재력 */
/* 삶의 잠재력 타이틀 */
.potentialForLife .artit{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 120%;

    text-align: center;
    background-color: #1d56a3;
    font-size: 15rem;
    color: #fff;
    letter-spacing: .4rem;
}
/* 본문 겉박스 */
.potentialForLife #contTxt{
    margin-top: 10vw;
    margin-bottom: 10vw;
}
/* 본문 박스 */
.pg5 .contTxt{
    width: auto;
    font-weight: bold;
    font-size: 5rem;
    color: #c2c2c1;
}
/* 본문 내 강조효과 세팅 */
.highlighter{
    color: #1d56a3;
}
/* 세번째 이미지 */
.pg5 .figimg3 img{
    width: 20vw;
}
