@charset "utf-8";
/* 서울미식주간 서브 페이지 CSS - sub_seoulMarché.css */
/* 서브 페이지 - 도시와 농부의 맛남 */

/* 주된 컨텐츠 소개(상세) */
/* 특장점 리스트 (ol) */
.marcheList{
    display: flex;
    margin: 9vh 0;

    text-align: center;
    font-size: 1.7vh;
}
.marcheList>li>img{
    width: 100%;
}