@charset "utf-8";

/* 애니메이션 CSS - ani.css */



/* 움직이는 애니메이션 클래스 */
.mvc{
    animation: mvcAni 3s linear infinite alternate;
}

/* 움직이는 원 키프레임 */
@keyframes mvcAni {
    0%{
        transform: rotate(0deg) translateY(0px);
    }
    20%{
        transform: rotate(30deg)  translateY(10px);
    }
    40%{
        transform: rotate(60deg) translateY(-10px);
    }
    60%{
        transform: rotate(90deg)  translateY(10px);
    }
    70%{
        transform: rotate(180deg) translateY(-10px);
    }
    80%{
        transform: rotate(270deg)  translateY(10px);
    }
    100%{
        transform: rotate(0deg) translateY(0px);
    }
}
/* 움직이는 원 키프레임 */
@keyframes mvcAni2 {
    0%{
        transform: translate(5px,0px);
    }
    20%{
        transform:   translate(-5px,5px);
    }
    40%{
        transform:  translate(5px,-5px);
    }
    60%{
        transform:  translate(-5px,5px);
    }
    70%{
        transform: translate(-5px,-5px);
    }
    80%{
        transform: translate(5px,5px);
    }
    100%{
        transform: translate(-5px,0px);
    }
}



/* 메인 페이지 회전 키프레임 */
@keyframes ratation {
    from{
        transform: rotate(0deg) translateX(-250px) rotate(0deg);
        /*
            [ 주변회전 만들기 ]
        1. 첫번째 rotate : 0deg -> 350deg
            ->중앙 회전 만들기
        2. 위치이동 translateX()
            ->주변을 도는 효과 생김
        3. 두번째 rotate : 0deg -> -360deg
            ->반대 회전은 옆으로 이동한 박스에 적용되어, 세워져서 주변을 두는 효과가 생김
        */
    }
    to{
        transform: rotate(360deg) translateX(-250px) rotate(-360deg);
    }
} /* rotation 키프레임 끝 */