@charset "utf-8";
/* 공통 모듈 디자인 CSS - common.css */
/* 상단 영역, 하단 영역 디자인 */

/*********************************** 1. 상단영역 ***********************************/

/* 최상위 겉박스 - #top */
#top{
    
}

/* 개별 속박스 - .top */
.top{
    height: 110px;
    
    background-color: #e9e9e9;
}

.topArea{
    
}

.siteMap{
    background-color: #bbbbbb;
}

.cont{
    background-color: #a0a0a0;
}