@charset "utf-8";
/* 웹폰트, 공통 클래스 세팅 CSS - core.css */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Noto+Sans+KR&family=Rajdhani&display=swap');

/*
    [ 웹폰트 ]
1.대문자로만 된 글자 전용 폰트
font-family: 'Julius Sans One', sans-serif;
2.대소문자 폰트
font-family: 'Rajdhani', sans-serif;
3.한글 폰트
font-family: 'Noto Sans KR', sans-serif;
*/

body{
    font-family: 'Noto Sans KR', sans-serif;
}

/* 속박스 클래스 */
.ibx{
    max-width: 1400px;
    margin: 0 auto;
}