@charset "utf-8";
/* 서울미식주간 메인페이지 CSS - main.css */
/* 메인 페이지에만 나오는 디자인 */

/* 외부 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
@import url(./ani.css);


/************************************* 2. 메인 영역  *************************************/
/************************************* 2-1. 1페이지 *************************************/
.main{
    position: relative;
    /* 부모자격 - .mainTitle */
    height: 100vh;

    /* background: url(../../00.자료수집/02.이미지데이터/01.메인페이지이미지/clear_bg.png) no-repeat center/cover; */
    /* 📌배경이미지가 없는 게 더 이쁜거 같은걸...?ㅠㅠ */

    background-color: rgb(243, 243, 243);

    overflow: hidden;
}


/* 메인페이지 움직이는 원형 배경 - 연노란색 */
.cont .main::before{
    content: '';
    display: block;
    width: 350px;
    height: 350px;
    position: absolute;
    top: 5%;
    left: 62%;
    border-radius: 50%;
    background-color: #e2de73;

    animation: ratation2 15s linear infinite;
}
/* 메인페이지 움직이는 원형 배경 - 보라색 */
.cont .main::after{
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 70%;
    left: 10%;
    border-radius: 50%;
    background-color: #654376;
    /* border: 10px solid #000; */

    animation: ratation1 8s linear infinite;
}

/* (1)메인 타이틀 */
.main h1{
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);

    font-family: 'Julius Sans One', sans-serif;
    font-size: 80px;
    font-weight: lighter;
    letter-spacing: 10px;
    line-height: 1.7;
    color: #2e2e2e;
}

/* (2)메인 문구 - 기간 */
.main h3{
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translateX(-50%);

    font-family: 'Julius Sans One', sans-serif;
    font-size: 50px;
    font-weight: lighter;
    color: #2e2e2e;
}

/* (3)메인 슬로건 */
.mainSlogan{
    position: absolute;
    top: 25%;
    right: 2%;
}
.mainSlogan h2{
    text-align: right;
    font-size: 32px;
    letter-spacing: 2px;
    line-height: 1.7;
    font-weight: normal;
    color: #e2e2e2;
}


/* 메인 제목 아래 움직이는 원형 이미지 - 연분홍색 */
.main h1::before{
    content: '';
    position: absolute;
    top: 155px;
    left: 2px;
    z-index: -1;
    width: 60px;
    height: 60px;
    background-color: #d7a7bf;
    border-radius: 50%;
    animation: mvcAni2 1.8s linear infinite alternate;
}
/* 메인 제목 아래 움직이는 원형 이미지 - 주황색 */
.main h1::after{
    content: '';
    position: absolute;
    top: 315px;
    left: 121px;
    z-index: -1;
    width: 50px;
    height: 50px;
    background-color: #d8693e;
    border-radius: 50%;
    animation: mvcAni1 2.5s linear infinite alternate;
}


/************************************* 2-2. 2페이지 *************************************/

/* 
2.겉박스 속박스 구조로 구성하기
-겉박스는 div, 속박스는 시멘틱태그로 
-이름은 속박스에 class로 주고,겉박스에 이름을 줄 경우에는 속박스와 같은 이름의 id로 부여하기
-가로크기는 기본 auto로 주기
-속박스에 max-width, m0a를 지정하기
-높이값은 속박스에 지정하기!!!!!
: 그래야지, 겉박스는 속박스가 늘어난 만큼 늘어나므로, 이중으로 코드 부여하는 비효율 줄일 수 있음
(((((회사가면 이런 구현 규칙이 다 다르고 내부 규정으로 정해져 있으니까 거기가선 거기 룰을 따르면 됨 )))))

3.파티션 박스는 필요에 따라서 속박스 내부에 잡아준다
: 안주는 경우도 있음
*/

/* 2페이지 - 주요 프로그램 */
/* 주요 프로그램 속박스 */
.program{
    margin: 0 auto;
    padding: 100px 50px;
    max-width: 1200px;
    height: 100vh;

    text-align: center;
}
/* (1) 섹션 타이틀 */
.secTitle{
    font-size: 4rem;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 3;
}
/* (2) 섹션 슬로건 */
.secSlogan{
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: normal;
    line-height: 2;
}
/* (3) 주요 프로그램 소개 */
.programList{
    
}