@charset "utf-8";
/* 서울미식주간 메인페이지 CSS - main.css */
/* 메인 페이지에만 나오는 디자인 */

/* 외부 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
@import url(./ani.css);


/************************************* 2. 메인 영역  *************************************/
/************************************* 2-1. 1페이지 *************************************/
.main{
    position: relative;
    /* 부모자격 - .mainTitle */
    height: 100vh;

    /* background: url(../../00.자료수집/02.이미지데이터/01.메인페이지이미지/clear_bg.png) no-repeat center/cover; */
    /* 📌배경이미지가 없는 게 더 이쁜거 같은걸...?ㅠㅠ */

    background-color: rgb(247, 247, 247);

    overflow: hidden;
}


/* 메인페이지 움직이는 원형 배경 - 연노란색 */
.cont .main::before{
    content: '';
    display: block;
    width: 350px;
    height: 350px;
    position: absolute;
    top: 5%;
    left: 62%;
    border-radius: 50%;
    background-color: #e2de73;

    animation: ratation2 15s linear infinite;
}
/* 메인페이지 움직이는 원형 배경 - 보라색 */
.cont .main::after{
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 70%;
    left: 10%;
    border-radius: 50%;
    background-color: #654376;
    /* border: 10px solid #000; */

    animation: ratation1 8s linear infinite;
}

/* (1)메인 타이틀 */
.main h1{
    position: absolute;
    top: 27%;
    /* top: 18%; */
    left: 50%;
    transform: translateX(-50%);

    font-family: 'Julius Sans One', sans-serif;
    font-size: 80px;
    font-weight: lighter;
    letter-spacing: 10px;
    line-height: 1.7;
    color: #2e2e2e;
}

/* (2)메인 문구 - 기간 */
.main h3{
    position: absolute;
    top: 87%;
    /* top: 80%; */
    left: 50%;
    transform: translateX(-50%);

    font-family: 'Julius Sans One', sans-serif;
    font-size: 50px;
    font-weight: lighter;
    color: #2e2e2e;
}

/* (3)메인 슬로건 */
.mainSlogan{
    position: absolute;
    top: 25%;
    right: 2%;
}
.mainSlogan h2{
    text-align: right;
    font-size: 32px;
    letter-spacing: 2px;
    line-height: 1.7;
    font-weight: normal;
    color: #e2e2e2;
}


/* 메인 제목 아래 움직이는 원형 이미지 - 연분홍색 */
.main h1::before{
    content: '';
    position: absolute;
    top: 155px;
    left: 2px;
    z-index: -1;
    width: 60px;
    height: 60px;
    background-color: #d7a7bf;
    border-radius: 50%;
    animation: mvcAni2 1.8s linear infinite alternate;
}
/* 메인 제목 아래 움직이는 원형 이미지 - 주황색 */
.main h1::after{
    content: '';
    position: absolute;
    top: 315px;
    left: 121px;
    z-index: -1;
    width: 50px;
    height: 50px;
    background-color: #d8693e;
    border-radius: 50%;
    animation: mvcAni1 2.5s linear infinite alternate;
}


/************************************* 2-2. 2페이지 *************************************/

/* 2페이지 - 주요 프로그램 */
/* 주요 프로그램 속박스 */
.program{
    position: relative;
    /* 부모자격 - .cr5~.cr9 */
    margin: 0 auto;
    padding: 100px 50px;
    max-width: 1200px;

    text-align: center;
}
/* (1) 섹션 타이틀 */
.secTitle{
    font-size: 4rem;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 3;
}
/* (2) 섹션 슬로건 */
.secSlogan{
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: normal;
    line-height: 2;
}
/* (3) 주요 프로그램 소개 */
.programList{
    position: relative;
    /* 부모자격 - .programList li.pl */
    height: 250vh;
}
/* 주요 프로그램 이미지 공통 세팅 */
.programList li.pl{
    position: absolute;
    /* 내가 원하는 것 - 부모박스 안에서 자기 위치를 갖는 것! 그래서 부모박스가 자식요소가 있는 그위치만큼 길어졌으면 좋겠음!!
    💥앱솔루트로 위치값을 주려고 했음
    ->앱솔루트를 주니까 부모박스보다 떠오르고, 자기자리 차지하지 않으니까 부모박스 안에 내용물이 없어서 크기가 자꾸 작아짐 ㅠㅠ
    ->>그래서 부모박스에 높이값을 줬는데.... 한참 부족함...ㅠ0ㅜ
    ->>>높이값을.. 예를들어... 400vh 이런식으로 줘도 되나..?
    ->>>>>>>>>>>>>>>>>>>>>>>>>>>>> 프로그램 이미지는 tarnslate주기!!!! / 배경 원은 앱솔루트!!!

    ->>>아아아악 아냐ㅠㅠㅠ 박스가 밀고 나가는거 생각을 못했네ㅠㅠㅠㅠㅠㅠㅠㅠ
    tftl을 주면...얘는 일단 자기 크기 유지하고 자기자리 지키는 박스니까... 옆으로 이동하면 그 크기만큼 밀어내버려...그래서 가로스크롤이 생기잖아...ㅠ0ㅜ...그럼 우쨔?? ㅠㅠㅠㅠㅠㅠㅠㅠ아이고 머리야...일단 앱솔루트 주고...일단 그렇게 하고 다른거 먼저 하자..ㅠ.ㅠㅠㅠㅠㅠㅠ...ㅠㅠ.ㅠ.ㅠ.ㅠㅠㅠ
    */
    
    transition: .3s ease-out;
}

/* 주요 프로그램 이미지 개별 세팅 */
.pl1{
    /* transform: translate(-40%, 20%); */
    /* : 그냥.. 일단 앱솔루트로 줘보기...ㅠ... */
    top: 3%;
    left: 0%;
}
.pl2{
    top: 14%;
    left: 70%;
}
.pl3{
    top: 27%;
    left: 16%;
}
.pl4{
    top: 40%;
    left: 57%;
}
.pl5{
    top: 56%;
    left: 7%;
}
.pl6{
    top: 68%;
    left: 68%;
}
.pl7{
    top: 80%;
    left: 30%;
}

/* 주요프로그램 이미지에 마우스 오버시 이미지 확대 */
.pl:hover{
    transform: scale(1.1);
}



/* (4) 2페이지 움직이는 원 공통 세팅 */
/* 💥갑자기 궁금한거!!
-앱솔루트 포지션을 준 거랑, 트랜스폼 트랜스레이트준거랑...무슨 차이지...?
*/
.circle{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}
/* 2페이지 움직이는 원 개별 세팅 */
.cr5{
    top: 7.7%;
    left: 83%;

    background-color: #19833b;
}
.cr6{
    width: 30px;
    height: 30px;
    top: 34%;
    left: 1%;

    background-color: #d8693e;
}
.cr7{
    width: 30px;
    height: 30px;
    top: 22%;
    left: 40%;
    background-color: #e2de73;
}
.cr8{
    width: 60px;
    height: 60px;
    top: 43%;
    left: 88%;
    background-color: #654376;
}
.cr9{
    width: 90px;
    height: 90px;
    top: 54%;
    left: 8%;
    background-color: #b5416e;
}
.cr10{
    width: 25px;
    height: 25px;
    top: 66%;
    left: 54%;
    background-color: #19833b;
}
.cr11{
    width: 45px;
    height: 45px;
    top: 79%;
    left: 5%;
    background-color: #d7a7bf;
}


/************************************* 2-3. 3페이지 *************************************/
/* 테이스트오브서울 지도 */

/* 지도페이지 속박스 */
.foodMap{
    position: relative;
    /* 부모자격 - .mapButton */
    /* max-width: 1200px; */
    width: 100%;
    height: 100vh;
    text-align: center;
    
    /* background-color: #5e5e5e; */
}
.rollingBanner{
    padding: 100px;
}
.rollingBanner .txt{
    font-size: 4rem;
    line-height: 2;
}

/* (2) 지도명, 지도버튼 */
.mapButton{
    position: absolute;
    /* 부모는? - .foodMap */
    font-size: 2rem;
    letter-spacing: 1px;
}

.mapButton .btn{
    display: inline-block;
    margin: 0 auto;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    line-height: 40px;

    background-color: #c4c4c4;
    border: 1px solid #3a3a3a;
    box-shadow: 1px 1px 1px #000000;

    font-size: 1.6rem;
}


/************************************* 2-4. 4페이지 *************************************/
/* 셰프와 바텐더 소개 */
.CnBIntro{
    /* height: 100vh; */
}

/* (1) 섹션 타이틀 */
.CnBIntro .secTitle{
    text-align: center;

    font-family: 'Rajdhani', sans-serif;
    color: #e2e2e2;
    letter-spacing: 0;

    background: url(../../00.자료수집/02.이미지데이터/02.서브페이지-22년행사및주요프로그램소개이미지/info-banner-bg.jpg) no-repeat center/100% auto;
}

/* 왼쪽단+오른쪽단 박스 */
.stkBox{
    /* height: auto; */
    display: flex;
    justify-content: center;
    width: 100%;
    
}

/* 왼쪽단 */
.lside{
    position: sticky;
    top: 0;
    width: 50%;
    height: 100vh;
}
/* 왼쪽단 제목 */
.fixedArea h3{
    padding: 40% 10% 10%;
    font-size: 3.5rem;
    letter-spacing: 1px;
    text-align: center;
}

/* 왼쪽단 제목 근처 배경 원형 - 초록색 */
.fixedArea h3::before{
    content: '';
    display: block;
    position: absolute;
    top: 32%;
    right: 20%;
    z-index: -1;

    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #19833b;
}

/* 왼쪽단 제목 근처 배경 원형 - 노란색 */
.fixedArea h3::after{
    content: '';
    display: block;
    position: absolute;
    top: 18%;
    left: 10%;
    z-index: -1;

    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #e2de73;
}

/* 왼쪽단 설명 */
.fixedArea p{
    padding: 5% 10%;
    font-size: 1.8rem;
    word-spacing: 2px;
    line-height: 2;
    text-align: justify;
    color: #2e2e2e;
}

/* 오른쪽단 */
.introList{
    margin-top: 40%;
}
.introList li{
    margin-bottom: 30%;
}

/* 셰프 이미지 공통 세팅 */
.introList img{
    width: 50vw;
    height: 60vh;
    object-fit: cover;
    object-position: top;
} 
/* 셰프 이름 */
.introList li p{
    font-size: 1.6rem;
    line-height: 2;
    margin: 20px 0 50px;
    color: #2e2e2e;
}



/************************************* 2-5. 5페이지 *************************************/
/* 동영상 페이지 */
.vSection{
    max-width: 1200px;
    margin: 0 auto;
}

/*  (1) 섹션 타이틀 */
.secTitle5{
    text-align: center;
    font-size: 4rem;
    line-height: 2;
    margin: 15vh 0 5vh;
    color: #2e2e2e;
}

.vArea{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* (2) 메인 비디오 영역 */
.vArea iframe{
    width: 55vw;
    height: 55vh;
    margin: 50px;
    border: none;
}

/* 메인 비디오 영역의 이전/다음 버튼 */
.vArea .prebtn,
.vArea .nextbtn{
    filter: brightness(1.3);

    /* 트랜지션 */
    transition: .3s;
}

/* 메인 비디오 영역의 이전/다음 버튼에 마우스오버시 색상 변경 */
.vArea .prebtn:hover,
.vArea .nextbtn:hover{
    filter: brightness(0.5);
}

/* (3) 비디오 목록 */
.videoList{
    width: 50vw;
    overflow: hidden;

}

.videoList ol{
    display: flex;
}

/* 비디오 목록내의 이미지 */
.videoList img{
    width: 10vw;
}

/* (4) 비디오 목록 이전/다음 전환 버튼 */
.movebtn{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    filter: brightness(1.3);

    /* 트랜지션 */
    transition: .3s;
}
/* 비디오 목록 이전/다음 전환 버튼에 마우스오버시 색상 변경 */
.movebtn .prebtn:hover,
.movebtn .nextbtn:hover {
    filter: brightness(0.5);
}