@charset "utf-8";
/* 서울미식주간 서브 페이지 CSS - sub_eventInfo.css */
/* 서브 페이지 - 행사 소개 */

/************************************* 2. 메인 영역  *************************************/
section.eventInfo{
    width: 100%;
    margin-top: 15vh;

    font-size: 2vh;
    font-weight: normal;
}
/* 섹션 타이틀 */
.sectionTitBx{
    position: relative;
    /* 부모자격 - .cr들 */
    text-align: center;
    
    font-size: 8vh;
    font-family: 'Rajdhani', sans-serif;
    margin: 10vh;
    font-weight: bold;
    color: #333;
}
/* 섹션 타이틀 로고 주변 원 이미지 공통 세팅 */
.sectionTitBx .circle{
    z-index: -1;
}
/* 섹션 타이틀 로고 주변 원 이미지 개별 세팅 */
.sectionTitBx .cr1 {
    top: 11%;
    left: 6%;
    width: 70px;
    height: 70px;
    background-color: #e2de73;

    /* 애니메이션 */
    animation: upAndDownAni 12s linear infinite;
}
.sectionTitBx .cr2 {
    top: 55%;
    left: 32%;
    width: 45px;
    height: 45px;
    background-color: #19833b;

    /* 애니메이션 */
    animation: upAndDownAni 8s linear infinite;
}
.sectionTitBx .cr3 {
    top: 25%;
    left: 78%;
    width: 85px;
    height: 85px;
    background-color: #b5416e;

    /* 애니메이션 */
    animation: upAndDownAni 20s linear infinite;
}
.sectionTitBx .cr4 {
    top: 1%;
    left: 97%;
    width: 25px;
    height: 25px;
    background-color: #d8693e;

    /* 애니메이션 */
    animation: upAndDownAni 5s linear infinite;
}

/* 오르락 내리락 애니메이션 키프레임 */
@keyframes upAndDownAni {
    0%{
        transform: translateY(0%);
    }
    25%{
        transform: translateY(50%);
    }
    50%{
        transform: translateY(0%);
    }
    75%{
        transform: translateY(-50%);
    }
    100%{
        transform: translateY(0%);
    }
}

/* 섹션 컨텐츠 겉박스 */
.sectionContBx{
    position: relative;
    /* 부모자격 - .ir */
    padding: 10vh;
}

/* 섹션 컨텐츠 단락 공통 세팅 */
.sectionContBx p{
    padding: 1vh 5vh;
    color: #2e2e2e;
}

/* 섹션 컨텐츠 첫번째 단락 */
.eventInfo .sectionContBx p:nth-child(1){
    /* text-align: center; */
    font-size: 10vh;
    font-weight: bolder;
    color: #000;
}
.eventInfo .sectionContBx p:nth-child(1)>span{
    -webkit-background-clip: text;
    color: transparent;
    background-image: url(../../00.자료수집/02.이미지데이터/02.서브페이지-22년행사및주요프로그램소개이미지/eventInfo01.png);
    background-position: center left;
}
/* 두번째 단락 */
.eventInfo .sectionContBx p:nth-child(2){
    margin-top: 5vh;
}
/* 마지막 단락 */
.eventInfo .sectionContBx p:last-child{
    margin-bottom: 5vh;
}
/* 두번째~ 마지막 단락 공통 세팅 */
.eventInfo .sectionContBx p + p{
    width: 30vw;
    line-height: 1.7;
}
.eventInfo .sectionContBx div{
    position: absolute;
    width: 20vw;
    height: 50vh;
    bottom: 15vh;
    right: 15%;
    background: url(../../00.자료수집/02.이미지데이터/02.서브페이지-22년행사및주요프로그램소개이미지/eventInfo01.png) no-repeat bottom/cover;
}