@charset "utf-8";

/* 불가리 PJ 공통 모듈 CSS - common.css */


/* 공통 변수 선언 */
:root {
	--black: #1f1f1f;
    --bg_beige: #f0ede8;
    --beige: #f1ede8;
}


/******************************************* 상단 영역 *******************************************/
/* 상단 영역 공통 세팅 */
#top{
    position: relative;
    /* 부모자격 - lnb박스 */
    box-shadow: inset 0px -0.8px 0px 0px silver;
}
/* 상단 탑메뉴 */
.dt .tmenu{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}
/* 상단 좌/우 메뉴 공통 세팅 */
.dt .lmenu>.list, .dt .rmenu>.list{
    display: flex;
    
}
/* 상단 좌/우 메뉴 하위 a요소들 공통 세팅 */
.dt .tmenu .htl{
    display: flex;
    padding-right: 10px;
    align-items: center;
}
/* 검색 input박스 */
.dt .tmenu .search_input{
    border: 0;
    border-bottom: 1px solid var(--black);
    margin-left: 5px;
    padding-left: 5px;
    /* 클릭시 발생하는 테두리 없애기 */
    outline: none;
}
/* 상단 좌/우 메뉴의 하위 메뉴텍스트 공통 세팅 */
.dt .tmenu .menu_txt{
    font-size: 12px;
}
/* 상단 좌/우 메뉴의 li에 마우스오버시 하위 메뉴텍스트에 아랫줄 만들기 */
.dt .lmenu li:hover .menu_txt, .dt .rmenu li:hover .menu_txt{
    text-decoration: underline;
}

/* 로고 svg 세팅 */
.dt .svgBx{
    width: 350px;
    margin: 15px auto;
}

/* GNB메뉴 */
.dt .gnb>.list{
    display: flex;
    justify-content: center;
    gap: 20px;
}
/* GNB메뉴 하위 li들 공통 세팅 */
.dt .gnb>.list>li{
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
}
/* GNB메뉴 하위 li에 마우스오버시 아래에 밑줄 생김 */
.dt .gnb>.list>li:hover{
    border-bottom-color: var(--black);
}
/* GNB메뉴 하위 a요소들 공통 세팅 */
.dt .gnb a{
    font-size: 13px;
}

/* GNB메뉴 li에 서브메뉴 박스 세팅하기 */
.dt .gnb li:nth-child(1)::after ~ .dt .gnb li:nth-child(-n+5)::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var(--bg_beige);
    margin-top: 12px;
    box-shadow: 0 0.3125rem 0.625rem 0 rgba(31,31,31,.15);
}

/* LNB메뉴 박스 세팅 */
.dt .lnb{
    position: absolute;
    /* 부모는? GNB메뉴의 #top */
    /* z-index: -1; */
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 500px;
    padding-top: 20px;
    /* background-color: var(--bg_beige); */
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.068);
}
/* LNB메뉴 하위 .list */
.dt .lnb>.list{
    display: flex;
    justify-content: center;
    gap: 15px;
    min-width: 1400px;
}
/* 썸네일 이미지 겉박스 */
.dt .lnb .thumbnail_img{
    position: relative;
    /* 부모자격 */
    display: flex;
    flex-direction: column;
}
/* 썸네일 이미지 타이틀과 버튼 공통 속성 */
.dt .lnb .thumbnail_img .tit,
.dt .lnb .thumbnail_img .btn{
    position: absolute;
}
/* 썸네일 이미지 타이틀 공통 속성 */
.dt .lnb .thumbnail_img .tit{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    white-space: nowrap;
}
/* 썸네일 이미지 버튼 공통 속성 */
.dt .lnb .thumbnail_img .btn{
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 30px;
    background-color: #fff;

    font-size: 12px;
    white-space: nowrap;
}
/* 썸네일 이미지 타이틀 개별 속성 */
.dt .lnb.high_jewellery .tit3{
    color: #fff;
}
.dt .lnb.the_maison img{
    width: 406px;
    height: 460px;
    object-fit: cover;
}
.dt .lnb.the_maison .th_img1{
    object-position: 0 -150px;
}

/******************************* 주얼리, 인게이지먼트&웨딩 메뉴 *******************************/
/* 카테고리별 리스트박스 공통 세팅 */
.dt .list.category{

}
/* 카테고리별 리스트 버튼 공통 세팅 */
.dt .list.category .btn{
    display: block;
    padding: 6px 10px;
    border: 1px solid var(--black);

    font-size: 13px;
}
/* 추천상품 리스트박스 공통 세팅 */
.dt .list.recommended{
    margin-top: 50px;
}
/* 추천상품 리스트의 li 하위 a요소 세팅 */
.dt .list.recommended li img{
    display: flex;
    flex-direction: column;
    background-color: var(--bg_beige);
}
/* 추천상품 리스트의 제품 이름 */
.dt .list.recommended .product_tit{
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}

/* 서브 메뉴들 일단 숨겨두기 */
.dt .lnb.high_jewellery,
.dt .lnb.the_maison,
.dt .lnb.engagement_and_wedding
{
    display: none !important;
}

.lnb.engagement_and_wedding .category{
    display: flex;
}



/******************************************* 하단 영역 *******************************************/




/* 🔥🔥dt버전 일단 숨겨두기🔥🔥 */
header.dt{
    display: none;
}
/***************************************************
    [ 모바일 버전 ]
***************************************************/
/* 모바일 상단 영역 공통 세팅 */
.mob{
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
}
/* 왼쪽 메뉴 공통 세팅 */
.mob>.lmenu>.list{
    display: flex;
    gap: 5px;
    
}
/* 왼쪽 메뉴 검색박스 */
.search_container{
    display: none;
}
/* 오른쪽 메뉴 공통 세팅 */
.mob>.rmenu>.list{
    display: flex;
    gap: 5px;
}

/* 로고 svg 세팅 */
.mob .svgBx{
    width: 150px;
    margin: 15px auto;
}


