@charset "utf-8";

/* λ¶κ°€λ¦¬ PJ κ³µν†µ λ¨λ“ CSS - common.css */


/* κ³µν†µ λ³€μ μ„ μ–Έ */
:root {
	--bg_black: #1f1f1f;
    --bg_beige: #f0ede8;
    --beige: #f1ede8;
    --black: #000;
    --white: #fff;
    --silver: #c0c0c0;
    --swiper-theme-color: #1f1f1f;
}


/******************************************* μƒλ‹¨ μμ—­ *******************************************/
/* μƒλ‹¨ μμ—­ κ³µν†µ μ„Έν… */
#top{
    position: relative;
    /* λ¶€λ¨μκ²© - lnbλ°•μ¤ */
    box-shadow: inset 0px -0.8px 0px 0px var(--silver);
}
/* μƒλ‹¨ νƒ‘λ©”λ‰΄ */
.dt .tmenu{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}
/* μƒλ‹¨ μΆ/μ° λ©”λ‰΄ κ³µν†µ μ„Έν… */
.dt .lmenu>.list, .dt .rmenu>.list{
    display: flex;
    
}
/* μƒλ‹¨ μΆ/μ° λ©”λ‰΄ ν•μ„ aμ”μ†λ“¤ κ³µν†µ μ„Έν… */
.dt .tmenu .htl{
    display: flex;
    padding-right: 10px;
    align-items: center;
}

/* μƒλ‹¨ μΆ/μ° λ©”λ‰΄μ ν•μ„ λ©”λ‰΄ν…μ¤νΈ κ³µν†µ μ„Έν… */
.dt .tmenu .menu_txt{
    font-size: 12px;
}
/* μƒλ‹¨ μΆ/μ° λ©”λ‰΄μ liμ— λ§μ°μ¤μ¤λ²„μ‹ ν•μ„ λ©”λ‰΄ν…μ¤νΈμ— μ•„λ«μ¤„ λ§λ“¤κΈ° */
.dt .lmenu li:hover .menu_txt, .dt .rmenu li:hover .menu_txt{
    text-decoration: underline;
}

/* λ΅κ³  svg μ„Έν… */
.dt .svgBx{
    width: 350px;
    margin: 15px auto;
}

/* GNBλ©”λ‰΄ */
.dt .gnb>.list{
    display: flex;
    justify-content: center;
    gap: 20px;
}
/* GNBλ©”λ‰΄ ν•μ„ liλ“¤ κ³µν†µ μ„Έν… */
.dt .gnb>.list>li{
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
}
/* GNBλ©”λ‰΄ ν•μ„ liμ— λ§μ°μ¤μ¤λ²„μ‹ μ•„λμ— λ°‘μ¤„ μƒκΉ€ */
.dt .gnb>.list>li:hover{
    border-bottom-color: var(--bg_black);
}
/* GNBλ©”λ‰΄ ν•μ„ aμ”μ†λ“¤ κ³µν†µ μ„Έν… */
.dt .gnb a{
    font-size: 13px;
}

/* GNBλ©”λ‰΄ liμ— μ„λΈλ©”λ‰΄ λ°•μ¤ μ„Έν…ν•κΈ° */
.dt .gnb li:nth-child(1)::after ~ .dt .gnb li:nth-child(-n+5)::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var(--bg_beige);
    margin-top: 12px;
    box-shadow: 0 0.3125rem 0.625rem 0 rgba(31,31,31,.15);
}

/* LNBλ©”λ‰΄ λ°•μ¤ μ„Έν… */
.dt .lnb{
    position: absolute;
    /* λ¶€λ¨λ”? GNBλ©”λ‰΄μ #top */
    /* z-index: -1; */
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 500px;
    padding-top: 20px;
    /* background-color: var(--bg_beige); */
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.068);
}
/* LNBλ©”λ‰΄ ν•μ„ .list */
.dt .lnb>.list{
    display: flex;
    justify-content: center;
    gap: 15px;
    min-width: 1400px;
}
/* μΈλ„¤μΌ μ΄λ―Έμ§€ κ²‰λ°•μ¤ */
.dt .lnb .thumbnail_img{
    position: relative;
    /* λ¶€λ¨μκ²© */
    display: flex;
    flex-direction: column;
}
/* μΈλ„¤μΌ μ΄λ―Έμ§€ νƒ€μ΄ν‹€κ³Ό λ²„νΌ κ³µν†µ μ†μ„± */
.dt .lnb .thumbnail_img .tit,
.dt .lnb .thumbnail_img .btn{
    position: absolute;
}
/* μΈλ„¤μΌ μ΄λ―Έμ§€ νƒ€μ΄ν‹€ κ³µν†µ μ†μ„± */
.dt .lnb .thumbnail_img .tit{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    white-space: nowrap;
}
/* μΈλ„¤μΌ μ΄λ―Έμ§€ λ²„νΌ κ³µν†µ μ†μ„± */
.dt .lnb .thumbnail_img .btn{
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 30px;
    background-color: var(--white);

    font-size: 12px;
    white-space: nowrap;
}
/* μΈλ„¤μΌ μ΄λ―Έμ§€ νƒ€μ΄ν‹€ κ°λ³„ μ†μ„± */
.dt .lnb.high_jewellery .tit3{
    color: var(--white);
}
.dt .lnb.the_maison img{
    width: 406px;
    height: 460px;
    object-fit: cover;
}
.dt .lnb.the_maison .th_img1{
    object-position: 0 -150px;
}

/******************************* μ£Όμ–Όλ¦¬, μΈκ²μ΄μ§€λ¨ΌνΈ&μ›¨λ”© λ©”λ‰΄ *******************************/
/* μΉ΄ν…κ³ λ¦¬λ³„ λ¦¬μ¤νΈλ°•μ¤ κ³µν†µ μ„Έν… */
.dt .list.category{

}
/* μΉ΄ν…κ³ λ¦¬λ³„ λ¦¬μ¤νΈ λ²„νΌ κ³µν†µ μ„Έν… */
.dt .list.category .btn{
    display: block;
    padding: 6px 10px;
    border: 1px solid var(--bg_black);

    font-size: 13px;
}
/* μ¶”μ²μƒν’ λ¦¬μ¤νΈλ°•μ¤ κ³µν†µ μ„Έν… */
.dt .list.recommended{
    margin-top: 50px;
}
/* μ¶”μ²μƒν’ λ¦¬μ¤νΈμ li ν•μ„ aμ”μ† μ„Έν… */
.dt .list.recommended li img{
    display: flex;
    flex-direction: column;
    background-color: var(--bg_beige);
}
/* μ¶”μ²μƒν’ λ¦¬μ¤νΈμ μ ν’ μ΄λ¦„ */
.dt .list.recommended .product_tit{
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}

.lnb.engagement_and_wedding .category{
    display: flex;
}



/******************************************* ν•λ‹¨ μμ—­ *******************************************/





/***************************************************
    [ λ¨λ°”μΌ λ²„μ „ ]
***************************************************/
/* λ¨λ°”μΌ μƒλ‹¨ μμ—­ κ³µν†µ μ„Έν… */
header.top.mob{
    position: relative;
    /* λ¶€λ¨μκ²© - .search_container */
    padding: 15px 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* μ™Όμ½ λ©”λ‰΄ κ³µν†µ μ„Έν… */
.mob>.lmenu>.list{
    display: flex;
    gap: 5px;
    
}
/* μ™Όμ½ λ©”λ‰΄λ¥Ό ν΄λ¦­μ‹ λ“±μ¥ν•λ” κ²€μƒ‰λ°•μ¤ */
.search_container{
    /* display: none; */
    position: absolute;
    /* λ¶€λ¨λ”? header.mob */
    top: 0;
    padding: 15px 10px;
    width: 98%;
    /* .mobμ κ°€μƒμ”μ†λ³΄λ‹¤ μ„μ— μ„μΉμ„ν•¨ */
    z-index: 1;
}
/* μ™Όμ½ λ©”λ‰΄ κ²€μƒ‰λ°•μ¤ ν•μ„ formμ”μ† */
.mob_search_form{
    display: flex;
    align-items: center;
}
/* κ²€μƒ‰ inputλ°•μ¤ */
.mob .search_input{
    /* border: 0; */
    border-bottom: 1px solid var(--bg_black);
    width: 100%;
}
/* μ™Όμ½ λ©”λ‰΄λ¥Ό ν΄λ¦­μ‹ λ“±μ¥ν•λ” κ²€μƒ‰ λ°•μ¤μ λ°°κ²½*/
.mob .search.wrap{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 54px;
    /* background-color: cadetblue; */
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.068);

    /* μΌλ‹¨ λ°•μ¤ μ¨κ²¨λ‘κΈ° */
    display: none;
}
.mob .search.wrap.on{
    display: block;
}
/* μ¤λ¥Έμ½ λ©”λ‰΄ κ³µν†µ μ„Έν… */
.mob>.rmenu>.list{
    display: flex;
    gap: 5px;
}

/* λ΅κ³  svg μ„Έν… */
.mob h1.svgBx{
    width: 150px;
    margin: 0 auto;
}

/* GNB λ©”λ‰΄ κ²‰λ°•μ¤ μ„Έν… */
.mob.gnb_wrap{
    background-color: var(--white);
}

/* GNB λ©”λ‰΄ ν•μ„ aμ”μ†λ“¤ κ³µν†µ μ„Έν… */
.mob>.gnb .list .lnk{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 17px;
    font-size: 13px;
}
/* GNB λ©”λ‰΄ μ† νƒ‘ μ„Ήμ… */
.mob>.gnb>.top_section{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--bg_black);
    padding: 15px;
    height: 50px;
}
/* GNB λ©”λ‰΄ μ† μƒλ‹¨μ λ‹«κΈ° λ²„νΌ */
.mob>.gnb .close{
    
}
/* GNB λ©”λ‰΄ μ† svgλ΅κ³  μ„Έν… */
.mob>.gnb div.svgBx{
    width: 150px;
    margin: 0 auto;
}
/* GNB λ©”λ‰΄μ ul, ol λ¦¬μ¤νΈλ“¤ κ³µν†µ μ„Έν… */
.mob>.gnb .entire,
.mob>.gnb .personal{
    /* border: 1px solid red; */
    padding: 20px;
}

/* GNB λ©”λ‰΄μ ν•μ„ liλ“¤ κ³µν†µ μ„Έν… */
.mob>.gnb li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* GNB λ©”λ‰΄ μ²«λ²μ§Έ λ¦¬μ¤νΈ(ul) μ„Έν… */
.mob>.gnb .l1{
    /* λ†’μ΄ κ°•μ  λ¶€κ³Όν•΄μ„ λ‘λ²μ§Έ λ¦¬μ¤νΈ λ°€μ–΄λ‚΄μ–΄ μλ„μ° μ•„λμ½μ— λ¶™κ² λ§λ“¤κΈ° */
    height: 60vh;
}
/* GNB λ©”λ‰΄ μ²«λ²μ§Έ λ¦¬μ¤νΈ(ul) ν•μ„ li μ† >/< λ²„νΌ μ„Έν…(ν‰μ†) */
.mob>.gnb .arrow_forward{
    display: none;
}
.mob>.gnb .arrow_forward.on{
    display: block;
}
/* λ‹«κΈ°(<)λ²„νΌ ν‰μ† μ„Έν… */
.mob>.gnb .arrow_back{
    /* μ¨κ²¨μ ΈμκΈ° */
    display: none;
}
/* λ‹«κΈ°(<)λ²„νΌ .on μ£Όλ©΄ λ³΄μ΄κΈ° */
.mob>.gnb .arrow_back.on{
    display: block;
}

/* GNB λ©”λ‰΄ λ‘λ²μ§Έ λ¦¬μ¤νΈ(ol) μ„Έν… */
.mob>.gnb .l2{
    background-color: var(--black);
}
/* GNB λ©”λ‰΄ λ‘λ²μ§Έ λ¦¬μ¤νΈ(ol) ν•μ„ aμ”μ† κ°λ³„ μ„Έν… */
.mob>.gnb .l2.personal .lnk{
    color: var(--white);
}


/****************************************** LNB λ©”λ‰΄ ******************************************/
.mob .lists_wrap{
    /* position: relative; */
    /* λ¶€λ¨μκ²© - lnbλ°•μ¤λ“¤ */
}
/* LNB λ©”λ‰΄ κ²‰λ°•μ¤λ“¤ μ„Έν… */
.mob .lnb{
    position: absolute;
    /* λ¶€λ¨λ”? #top */
    top: 81px;
    left: 0;
    right: 0;
    /* μƒλ‹¨ λ΅κ³ μ™€ λ‹«κΈ° λ²„νΌμ΄ μλ” μ„Ήμ… λ°”λ΅ μ•„λμ½μ— μ„μΉν•΄μ•Όν•λ―€λ΅ μ•½κ°„ μ„μΉμ΅°μ •ν•¨*/
    
    background-color: var(--white);
}

/* LNB λ©”λ‰΄ μƒλ‹¨ top_area κ²‰λ°•μ¤ */
.mob .top_area{
    display: flex;
    align-items: center;
}
/* LNB λ©”λ‰΄ μƒλ‹¨ top_area ν•μ„ .lnk μ”μ†*/
.mob .lnb .top_area .lnk{
    width: 100%;
    border-bottom: 1px solid var(--silver);
}
/* LNB λ©”λ‰΄μ μΉ΄ν…κ³ λ¦¬ λ¦¬μ¤νΈ λ°•μ¤ μ„Έν… */
.mob .lnb .list.category{
    padding: 30px;
}
/* LNB λ©”λ‰΄μ μΉ΄ν…κ³ λ¦¬ λ¦¬μ¤νΈ ν•μ„ liλ“¤ μ„Έν… */
.mob .lnb .list.category>li{
    justify-content: center;
    margin-bottom: 15px;
}
/* LNB λ©”λ‰΄μ μΉ΄ν…κ³ λ¦¬ λ¦¬μ¤νΈ ν•μ„ μΈλ„¤μΌ μ΄λ―Έμ§€ λ°•μ¤μ μ΄λ―Έμ§€ μ„Έν… (ν•μ΄μ£Όμ–Όλ¦¬, λΈλλ“) */
.mob .lnb .thumbnail_img>img{
    width: 100%;
    aspect-ratio: 460/215;
    object-fit: cover;
}
/* LNB λ©”λ‰΄μ μΉ΄ν…κ³ λ¦¬ λ¦¬μ¤νΈ ν•μ„ μΈλ„¤μΌ μ΄λ―Έμ§€ λ°•μ¤μ κΈ€μ μ„Έν… (ν•μ΄μ£Όμ–Όλ¦¬, λΈλλ“) */
.mob .lnb .thumbnail_img>.tit{
    display: block;
    padding: 5px 0;
    font-size: 13px;
    color: var(--bg_black);
}

/* LNB λ©”λ‰΄μ μΉ΄ν…κ³ λ¦¬ λ¦¬μ¤νΈ ν•μ„ liλ“¤ κ³µν†µ μ„Έν…  */
.mob .lnb.jewellery .list.category>li,
.mob .lnb.engagement_and_wedding .list.category>li{
    justify-content: space-between;
}
.mob .lnb.jewellery .list.category .tit,
.mob .lnb.engagement_and_wedding .list.category .tit{
    font-size: 13px;
}

/* LNB λ©”λ‰΄μ μ¶”μ² λ¦¬μ¤νΈ κ²‰λ°•μ¤ μ„Έν… */
.mob .lnb.jewellery .list.recommended,
.mob .lnb.engagement_and_wedding .list.recommended{
    padding: 30px;
}


/* μ¶”μ² μ ν’ μ¤μ™€μ΄νΌ κ°λ³„ μ„Έν… CSS */
.recommended_Swiper {
    max-width: 300px;
    height: auto;
    margin: 0 auto 30px;
}

.recommended_Swiper.swiper-slide {
    text-align: center;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommended_Swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* topλ²„νΌ κ²‰λ°•μ¤ */
#top_btn>.top_btn_bx{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid var(--bg_black);
    box-shadow: none;

    position: sticky;
    top: 0;
    left: 85%;
}
/* topλ²„νΌ buttonμ”μ† λ‚΄λ¶€ κµ¬κΈ€ μ‹¬λ³Ό κ°λ³„ μ„Έν… */
#top_btn>.top_btn_bx>.keyboard_arrow_up{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}






/****************************************** ν•λ‹¨ μμ—­ ******************************************/
/* ν•λ‹¨ μμ—­ κ²‰λ°•μ¤ μ„Έν… */
#info{
    background-color: var(--bg_beige);
}
/* ν•λ‹¨ μμ—­μ λ΅κ³  κ°λ³„ μ„Έν… */
.dt.info>.logo .svgBx{
    margin: 0 auto;
    padding: 30px 0 50px;
}

/* νμ‚¬ μ •λ³΄ μ„Ήμ…μ μƒμ„μΉ΄ν…κ³ λ¦¬ λ¦¬μ¤νΈ κ³µν†µ μ„Έν… */
.dt.info>.info_section>.list.category{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-bottom: 30px;
    
    font-size: 13px;
    line-height: 2.3;
}
/* νμ‚¬ μ •λ³΄ μ„Ήμ…μ μƒμ„ μΉ΄ν…κ³ λ¦¬ ν•μ„μ ν—¤λ“λΌμΈ μ„Έν… */
.dt.info .headline{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
/* info_sectionμ μΉ΄ν…κ³ λ¦¬ λ¦¬μ¤νΈ μ¤‘ λ¬Έμ λ©”λ‰΄ ν•μ„μ li μ„Έν… */
.dt.info .info_section .inquiry .sub_category>li{
    display: flex;
    align-items: center;
    gap: 5px;
}
/* ν•λ‹¨ μμ—­μ ν„μ¬ μ„μΉ κ²‰λ°•μ¤ μ„Έν… */
.dt.info .the_present_region{
    display: flex;
    justify-content: right;
    width: 1300px;
    margin: 0 auto;
    border-bottom: 1px solid var(--bg_black);

}
.dt.info .country_and_language_selection{
    display: flex;
    align-items: center;
    margin: 10px;

    /* λ²„νΌ μ”μ† κΈ°λ³Έκ°’ ν•΄μ  */
    border: 0;
    background-color: transparent;
}









/* π”¥π”¥π”¥π”¥π”¥μΌλ‹¨ μ¨κ²¨λ‘κΈ°π”¥π”¥π”¥π”¥π”¥ */
/* dtλ²„μ „ μƒλ‹¨μμ—­ μΌλ‹¨ μ¨κ²¨λ‘κΈ° */
header.dt{
    /* display: none; */
}
/* dtλ²„μ „ μ„λΈ λ©”λ‰΄λ“¤ μΌλ‹¨ μ¨κ²¨λ‘κΈ°*/
.dt .lnb.high_jewellery,
.dt .lnb.jewellery,
.dt .lnb.engagement_and_wedding,
.dt .lnb.the_maison
{
    display: none !important;
}



/* mobλ²„μ „ μƒλ‹¨μμ—­ μΌλ‹¨ μ¨κ²¨λ‘κΈ° */
header.top.mob{
    display: none;
}
/* λ¨λ°”μΌ λ²„μ „μ—μ„ ν–„λ²„κ±°λ²„νΌ ν΄λ¦­μ‹ λ‚νƒ€λ‚λ” gnbλ“¤ */
.mob.gnb_wrap{
    display: none;
}
/* λ¨λ°”μΌ λ²„μ „μ—μ„ ν–„λ²„κ±°λ²„νΌ ν΄λ¦­μ‹ λ‚νƒ€λ‚λ” lnbλ“¤ */
.mob .lnb.high_jewellery,
.mob .lnb.jewellery,
.mob .lnb.engagement_and_wedding,
.mob .lnb.the_maison{
    display: flex;
    display: none;
}
