/* 상단영역 임시 보관함 */



/* 514라인!!!!! */
/* LNB 메뉴 겉박스들 공통 세팅 */
.mob>.gnb .lnb{
    position: absolute;
    /* 부모는? #top */
    top: 81px;
    /* 상단 로고와 닫기 버튼이 있는 섹션 바로 아래쪽에 위치해야하므로 약간 위치조정함*/
    left: 0;
    right: 0;
    height: 0;

    transform: translateX(110%);
    /* transition: 3s ease-out; */
    
    overflow: hidden;
    /* 숨겨두지 않으면 gnb박스에 스크롤바와 아래쪽 공간이 생김 */
    z-index: 1;
    /* gnb박스의 컨텐츠들보다 위에 있어야 함 */
    /* background-color: var(--white); */

    /* ⭐확인용⭐ */
    background-color: lightblue;
}
.mob>.gnb .lnb.on{
    transform: translateX(0);
    height: auto;
    /* height: calc(100% - 81px); */
    /* overflow: visible; */
    /* ⭐4/27 수정 부모자격 박스를 기준으로 높이값 커짐 + 넘치는 자식요소 보이기⭐ */
}